// Import foundation and settings
@import "partials/settings";
@import "partials/foundation";
// import custom scss
@import "menu";
@import "footer";
@import "header";
@import "mission";
@import "content";
@import "tables";
@import "forms";

// Using the default styles
.form-submit {
  @include button;
}
#CTA .cta {
  @include button;
}


/* Global styles */

body {
  background: $body-bg;
  font-family: $body-font-family;
  font-size: 14px;
}

h1 {
  font-size: 48px;
  font-family: $header-font-family;
  color: $primary-grey;
}

h2 {
  font-size: 36px;
  font-family: $body-font-family;
  font-weight: bold;
}
h3 {
  font-size: 30px;
  font-family: $body-font-family;
  font-weight: bold;
  &:before {
    content: " ꔷ ";
    color: $primary-color;
  }
}
h4 {}
h5 {}
h6 {}

/* Rules for the admin menu */

#admin-menu ul {
  font-size: 9px;
}

#admin-menu {
  input[type="text"] {
    height: auto;
  }
}

/* Drupal help sections styles */

#drupalhelp {
  font-size: 1.25rem;
  color: $info-color;
}

#drupalhelp p {
  font-weight: 300;
}

div.horizontal-tabs {
  border: 0;

  ul.horizontal-tabs-list {
    background-color: $secondary-grey;
    li.horizontal-tab-button {
      background-color: $secondary-color;
      border: 0;
      a {
        color: $negative;
        font-weight: bold;
        &:hover {
          background: $negative;
          color: $body-font-color;
        }
      }
    }
    li.horizontal-tab-button.selected {
      border: 1px solid $primary-color;
      background-color: $negative;
      a {
        color: $primary-grey;
      }
    }
  }
}


