/* footer.scss */
// @import "partials/settings";
// @import "partials/foundation";

/* Footer region styles - CONTAINS: footer menu and colophon */
footer {
  font-size: 12px;
  background: $body-bg;
  padding-top: $margin-default;
  color: $info-color;
  h1 {
    display: block;
    float: left;
    font-size: 1.2em;
    font-weight: 900;
    line-height: 36px;
    margin: 0 16px 0 0;
  }
  #footermessage {
    p {
      line-height: 36px;
    }
  }
  #colophon {
    text-align: right;
    ul {
      margin: 0;
      padding: 0;
      text-align: right;

    }
    li {
      display: inline;
      margin: 0;
      padding: 0;
      a {
        display: inline-block;
        line-height: 36px;
        text-indent: -9999em;
        overflow: hidden;
        text-align: left;
        min-height: 36px;
      }
      a.drupal {
        background: transparent url("../images/colophon_logo_drupal.png") no-repeat center center;
        width: 139px;
      }
      a.telamenta {
        width: 199px;
        background: transparent url("../images/colophon_logo_telamenta.png") no-repeat center center;
      }
    }
  }
}
