/* header.scss */
// @import "partials/settings";
// @import "partials/foundation";

/* Header styles */
header {
  color: $header-font-color;
  margin: 0;
  padding: 0;
  h1 {
    display: block;
    float: left;
    font-size: 1.2em;
    font-weight: 900;
    line-height: 36px;
    margin: 0 16px 0 0;
  }
  h2 {
    display: block;
    float: left;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 36px;
    margin: 0 0 0 0;
    color: darken($body-bg, 10%);
  }
}

.site-name {
  margin: 0 $margin-default/2 0 0;
  a {
    text-indent: -9999px;
    outline: none;
    display: block;
    width: 396px;
    height: 193px;
    background: transparent url("../logo.png") no-repeat center center;
  }
}

#site-slogan {
  color: $body-font-color;
  font-size: 14px;
}

.slogan {
  border-bottom: 1px solid $primary-color;
  margin-bottom: $margin-default;
}

.name {
  h1 {
    font-size: 24px;
  }
}

#logo {
  display: block;
  float: left;
  margin: 0 16px 0px 0;
}
