/* menu.scss */
// @import "partials/settings";
// @import "partials/foundation";

/* Primary navigation styles */
#primarymainmenu {
  max-height: $topbar-height;
  h1 {
    color: $negative;
    font-family: $body-font-family;
  }
  .expanded {
    .top-bar-section {
      ul.menu {
        li{
          width:100% !important;
        }
      }
    }
  }
  .top-bar {
    background: lighten($body-font-color, 80%);
    border-radius: 3px;
    z-index: 20;
    .top-bar-section {
      ul.menu {
        li {
          width: auto;
          float: left;
          list-style-type: none;
          list-style-image: none;
          margin: 0;
          background: none;
          a {
            color: $body-font-color;
            height: 43px;
            background: none;
            &:hover {
              background: $primary-color;
              color: $negative;
            }
          }
        }
        li.leaf {
          list-style-image: none;
          list-style-type: none;
          padding: 0;
        }
      }
    }
  }
  .has-dropdown {
    li {
      border-bottom: 1px solid scale-color($primary-color, $lightness: -45%); // #284318;
    }
  }
}

/* User dashboard/menu area */
#usermenu {
  background: darken($body-bg, 5%);
  border-bottom: 1px solid darken($body-bg, 10%);
  font-size: 0.8em;

  ul.menu {
    margin: 0;
    padding: 0;
    text-align: right;

    li {
      display: inline;
      line-height: 36px;
      margin: 0;
      padding: 0;

      a {
        padding: 0 0 0 0.8em ;
      }
    }
  }
}

footer {
  .footer-menu {
    #menublocks {
      margin-bottom: $margin-default;
      border-bottom: 1px solid darken($body-bg, 20%);
      h6.blocktitle {
        font-size: 1em;
        line-height: 25px;
      }
      ul {
        display: block;
        margin: 0;
        padding: 0;
        min-height: 26px;
        li {
          display: inline;
          margin: 0;
          padding: 0;
          line-height: 25px;
          a {
            margin: 0 0.5em 0 0;
          }
        }
      }
    }
  }
}

/* Drupal system tab nav styles */

#tab-navigation {
  border-top: 1px solid darken($body-bg, 10%);
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: $margin-default;
  background: $body-bg;
  padding: 0;
  min-height: 29px;
  ul.primary {
    display: block;
    border: none;
    line-height: 26px;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    background: none;
    li {
      display: inline;
      margin: 0;
      padding: 0;
      a {
        display: block;
        float: left;
        height: 26px;
        width: auto;
        font-size: 0.7em;
        background-color: $body-bg;
        border: none;
        min-height: 26px;
        line-height: 26px;
        margin: 1px 0 1px 1px;
        padding: 0 $margin-default;
        text-decoration: none;
        text-transform: uppercase;
      }
      a:hover {
        color: $negative;
        background-color: $secondary-color;
        border: none;
      }
    }
    li.active {
      a {
        border: none;
        background: $secondary-color;
        color: $negative;
      }
    }
  }
  ul.secondary {
    border-top: 1px solid darken($body-bg, 10%);
    border-bottom: none;
    padding: 0;
    margin: 0;
    margin-bottom: $margin-default;
    min-height: 29px;
    display: block;
    line-height: 26px;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    background: none;
    li {
      border: none;
      display: inline;
      padding: 0;
      margin: 0;
      a {
        display: block;
        float: left;
        height: 26px;
        width: auto;
        font-size: 0.7em;
        background-color: $body-bg;
        border: none;
        min-height: 26px;
        line-height: 26px;
        margin: 1px 0 1px 1px;
        padding: 0 $margin-default;
        text-decoration: none;
        text-transform: uppercase;
      }
      a:hover {
        color: $negative;
        background-color: $secondary-color;
        border: none;
      }
    }
    li.active {
      a {
        border: none;
        background: $secondary-color;
        color: $negative;
      }
    }
  }
}
