/* tables.scss */
/* Table styles */
a.tabledrag-handle .handle {
  height: 25px;
  width: 25px;
}

table {
  width: 100%;
  tbody {
    tr.even {
      background: lighten($secondary-color, 25%);
    }
    tr.odd {
      background: lighten($secondary-color, 30%);
    }
  }
}
